@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.dark .recharts-default-tooltip {
  background-color: #1c1917 !important;
  border: rgb(10, 10, 10) !important;
}